<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modal</title>
    <link href="css/popupStyle.css" rel="stylesheet">
    <script defer src="js/popup.js"></script>
</head>

<body>
    <button data-modal-target="#modal<%=month+dayNumber+year %>"><%= dayNumber %></button>
    <div class="modal" id="modal<%=month+dayNumber+year %>">
        <div class="modal-header">
            <div class="title">Add event for <%=month %>, <%=dayNumber %> , <%=year %></div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <form action='/addEvent' method="post">
                <input name="creationDay" type="hidden" value="<%=dayNumber %>" />
                <input name="creationMonth" type="hidden" value="<%=month %>" />
                <input name="creationYear" type="hidden" value="<%=year %>" />
                <label>Event name</label>
                <input id="eventName" type="text" name='eventName'><br>
                <label>Event details</label>
                <input id="eventDetails" type="text" name='eventDetails'><br>
                <label>Time Start</label>
                <input type='text' name='timeStart'><br>
                <label>Time End</label>
                <input type='text' name='timeEnd'><br>
                <input type='submit'>
            </form>
        </div>
    </div>
    <div id="overlay"></div>
</body>

</html>