<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home: Calendar</title>
    <link href='css/style.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <main>
            <% months.forEach(month => { %>
            <div class="toolbar">
                <div class="toggle">
                    <div class="toggle__option">
                        <a href='/weekly2'>
                            week
                        </a>
                    </div>
                    <div class="toggle__option toggle__option--selected">
                        <a href='/'>
                            month
                        </a>
                    </div>
                </div>
                <div class="current-month"><%=month.monthName %>, <%=month.monthYear %></div>
            </div>

            <div class="calendar">
                <div class="calendar__header">
                    <div>mon</div>
                    <div>tue</div>
                    <div>wed</div>
                    <div>thu</div>
                    <div>fri</div>
                    <div>sat</div>
                    <div>sun</div>
                </div>
                <% 
                    var count = 1;
                       var startCount = 1;
                       var weeklyCount = 1;
                       var isWeekDone = true;
                       for(var i=1;i<=month.endOfMonthDate + (month.startDayOfWeek - 1);i++){
                           if(isWeekDone == true){ %>
                <div class="calendar__week">

                    <% isWeekDone = false;}
                           if(startCount != month.startDayOfWeek){ %>
                    <div class="calendar__day day"></div>
                    <%
                               startCount++;
                           }
                           else{
                           %>

                    <div class="calendar__day day">
                        <%- include('partials/popUpEventForm.ejs', {dayNumber: count, month: month.monthName, year: month.monthYear}); -%>
                        <% events.forEach(event => { %>
                        <div class="calender__event event">
                            <% if(event.creationMonth == month.monthName && event.creationDay == count && event.creationYear == month.monthYear){ %>
                            <form action="/event" method="post">
                                <input type="hidden" value="<%=count%>" name="dayNumber" />
                                <input type="hidden" value="<%=month.monthName%>" name="month" />
                                <input type="hidden" value="<%=month.monthYear%>" name="year" />
                                <button type="submit" class="dot"></button>
                            </form>
                            <% } %>
                        </div>
                        <% }); %>
                    </div>

                    <% count++}
                    if(i % 7 == 0){ %>
                </div>
                <%
                        isWeekDone = true;
                    } weeklyCount++; 
                      weeklyCount = weeklyCount % 7}
                    if(weeklyCount < 7){
                        while(weeklyCount <= 7){ %>
                <div class="calendar__day day"></div>
                <%
                            weeklyCount++;
                        }
                    }
                    %>
            </div>
            <% }); %>

        </main>
        <sidebar>
            <div class="logo">Q-Corr</div>
            <div class="avatar">
                <div class="avatar__img">
                    <img src="https://picsum.photos/70" alt="avatar">
                </div>
                <div class="avatar__name"><%=username%></div>
            </div>
            <nav class="menu">
                <a class="menu__item menu__item--active" href="/">
                    <i class="menu__icon fa fa-calendar"></i>
                    <span class="menu__text">calendar</span>
                </a>
                <a class="menu__item" href="#">
                    <i class="menu__icon fa fa-envelope"></i>
                    <span class="menu__text">messages</span>
                </a>
                <a class="menu__item" href="/logout">
                    <i class="menu__icon fa fa-envelope"></i>
                    <span class="menu__text">Log Out</span>
                </a>
            </nav>
        </sidebar>
    </div>
</body>

</html>