<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home: Calendar</title>
    <link href='css/style.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <main>
            <div class="toolbar">
                <div class="toggle">
                    <div class="toggle__option">
                        <a href='/weekly2'>
                            week
                        </a>
                    </div>
                    <div class="toggle__option toggle__option--selected">
                        <a href='/'>
                            month
                        </a>
                    </div>
                </div>
            </div>
            <section>
                <% events.forEach(event => { 
                    if(event.creationDay == dayNumber && event.creationMonth == month && event.creationYear == year){ %>
                <p>Creator: <%=event.creatorUname%></p>
                <h4>Title: <%=event.eventName%></h4>
                <p>Details: <%=event.eventDetails%></p>
                <p>Time Start: <%=event.timeStart%></p>
                <p>Time End: <%=event.timeEnd%></p>

                <% } }); %>
            </section>
        </main>
        <sidebar>
            <div class="logo">Q-Corr</div>
            <div class="avatar">
                <div class="avatar__img">
                    <img src="https://picsum.photos/70" alt="avatar">
                </div>
                <div class="avatar__name"><%=username%></div>
            </div>
            <nav class="menu">
                <a class="menu__item menu__item--active" href="/">
                    <i class="menu__icon fa fa-calendar"></i>
                    <span class="menu__text">calendar</span>
                </a>
                <a class="menu__item" href="#">
                    <i class="menu__icon fa fa-envelope"></i>
                    <span class="menu__text">messages</span>
                </a>
                <a class="menu__item" href="/logout">
                    <i class="menu__icon fa fa-envelope"></i>
                    <span class="menu__text">Log Out</span>
                </a>
            </nav>
        </sidebar>
    </div>
</body>

</html>